@tailwind base;
@tailwind components;
@tailwind utilities;

/* Attempt to create a blurred backdrop filter for menu */
.drop-down-menu::before,
.drop-down-menu .menu-list::before{
  content: '';
  backdrop-filter: blur(40px);
  display: block;
  height: 100%;
  width: 100%;
  position: 'absolute';
  top: 0;
  left: 0;
  z-index: -1
}

/* Home Page */
.left-banner-text {
  writing-mode: vertical-rl;
  transition: transform 0.2s ease-in-out
}

.left-banner-card:hover span {
  text-decoration: underline;
}

/* Footer */
.footer a:hover {
  text-decoration: underline;
}
