@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header */
#menu-link {
  position: relative;
  text-decoration: none;
  z-index: 50;
}

#menu-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 12px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease-in-out;
}

#menu-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*
Sets up CSS for the actual Element Tag
*/
.header-link {
  position: relative;
  text-decoration: none;
  z-index: 50;
}

/*
Sets up the PSEUDO ELEMENT properties that is "before" the .header-link Element Tag
Also animates the "exiting animation"

*KEEP IN MIND* That the additional CSS Classes added onto the ::before, adds on top of the
pseudo element
*/
.header-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 12px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease-in-out;
}

/*
A new class is added on top of Element Tag
Creates the initial animation
Once the mouse leaves the Element tag, it persists due to the additional class below
*/
.header-link.is-active:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*
Once the mouse leaves the Element tag, the "Line" persists due to this existing Element Class added
Additionally, this overrides the original animations/transforms in the original .header-link
*/
.header-link.is-active::before {
  transform-origin: left;
  transform: scaleX(1);
}

.drop-down-menu::before,
.drop-down-menu .menu-list::before{
  content: '';
  backdrop-filter: blur(40px);
  display: block;
  height: 100%;
  width: 100%;
  position: 'absolute';
  top: 0;
  left: 0;
  z-index: -1
}

/* Home Page */
.left-banner-text {
  writing-mode: vertical-rl;
  transition: transform 0.2s ease-in-out
}

.left-banner-card:hover span {
  text-decoration: underline;
}

.left-banner-card:hover img {
  transform: scale(1.05);
}

.backdrop-hack {
  @apply absolute inset-0 -z-10;
}

/* Footer */
.footer a:hover {
  text-decoration: underline;
}