/* Add content-top divider */
.content-top::after {
  content: '';
  display: block;
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  width: 100%
}

.product-name a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2.5px; /* Adjust the value to make the underline bolder */
}