.product-sizes a:hover{
  text-decoration: underline;
  background-color: white;
  color: black;
  font-weight:900;
}

/* In your CSS or in a Tailwind CSS class, disabled unavailable size */
.disabled-size::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, transparent 49%, white 49%, white 51%, transparent 51%);
  pointer-events: none; /* This makes sure the overlay doesn't block interactions with the content beneath it */
}
