/* This one is for xl screen size*/
.cart-item-container {
  display: grid;
  grid-template-columns: 160px 200px 1fr 360px;
  gap: 15x 40px;
}

.cart-summary::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(35px);
  mask-image: linear-gradient(0deg,black 80%,transparent 100%)
}