/* Header */
#menu-link {
  position: relative;
  text-decoration: none;
  z-index: 50;
}

#menu-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 12px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease-in-out;
}

#menu-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*
Sets up CSS for the actual Element Tag
*/
.header-link {
  position: relative;
  text-decoration: none;
  z-index: 50;
}

/*
Sets up the PSEUDO ELEMENT properties that is "before" the .header-link Element Tag
Also animates the "exiting animation"

*KEEP IN MIND* That the additional CSS Classes added onto the ::before, adds on top of the
pseudo element
*/
.header-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 12px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease-in-out;
}

/*
A new class is added on top of Element Tag
Creates the initial animation
Once the mouse leaves the Element tag, it persists due to the additional class below
*/
.header-link.is-active:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/*
Once the mouse leaves the Element tag, the "Line" persists due to this existing Element Class added
Additionally, this overrides the original animations/transforms in the original .header-link
*/
.header-link.is-active::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Implement blur for menu drop down*/

/* Following 2 css is responsible for snowboard-menu backdrop blur
Within client code, utilize the state of onMouseEnter with conditional rendering
to add snowboardMenuTrigger class the entire header div
*/
/* Keepin mind, original positions snowboard/accessories/search menuTrigger is absolute */
.header.snowboardMenuTrigger::after {
  content:'';
  position: absolute;
  display: flex;
  width: 100%;
  height: 350px;
  z-index: -1;
}

.header.snowboardMenuTrigger {
  margin-top: -350px
}

/* Following 2 css is responsible for accessories-menu backdrop blur
Within client code, utilize the state of onMouseEnter with conditional rendering
to add accessoriesMenuTrigger class the entire header div
*/
.header.accessoriesMenuTrigger::after {
  content:'';
  position: absolute;
  display: flex;
  width: 100%;
  height: 350px;
  z-index: -1
}

.header.accessoriesMenuTrigger {
  margin-top: -350px
}

/* Search Menu Trigger */
.header.searchMenuTrigger::after {
  content:'';
  position: absolute;
  display: flex;
  width: 100%;
  height: 400px;
  z-index: -1
}

.header.searchMenuTrigger {
  margin-top: -400px
}

/* Mobile Menu Trigger */
.drop-down-menu.mobileDropdownMenuTrigger::after {
  content:'';
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* "Duct-Tape Fix" where it solved issue of white space when mobileDropdownMenu activated */
.header.mobileDropdownMenuTrigger {
  margin-top: -1000px;
}


#search-input {
  background: none;
  border-width: 1px;
  border-radius: 20px;
  padding: 2px 15px 2px 15px;
  height: 37px
}

#search-input::placeholder {
  color: white;
  font-size: 14px;
}

.divider::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: white;
}