.product-content{
  display: grid;
  grid-template-areas:
    'thumb main info';
  grid-template-columns: .3fr 1fr 400px;
  gap: 1.5rem;
}

.product-content:nth-child(1) {
  grid-area: thumb;
}

.product-content:nth-child(2) {
  grid-area: main
}

.product-content:nth-child(3) {
  grid-area: info
}


/* //? Product Info Container css */
.product-info-sizes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

/* In your CSS or in a Tailwind CSS class, disabled unavailable size */
.disabled-size::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, transparent 49%, black 49%, gray 51%, transparent 51%);
  pointer-events: none; /* This makes sure the overlay doesn't block interactions with the content beneath it */
}

.border-error {
  border-color: red;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  top: -5px;
  left: -5px
}

.variant-select {
  color: red
}


/* //? ProductTech css*/
.product-tech {
  display: grid;
  grid-template-columns: 456px 1fr;
  grid-template-rows: minmax(0, auto);
  grid-gap: 40px;
}
/* Product Tech Video css */
.product-tech-video {
  grid-column: 1/span 2;
   /* Same as
   grid-column-start: 1;
   grid-column-end: span 2;
   */
  aspect-ratio: 1434/772;
}

/* Product Tech Specs  */
.spec-type, .product-tech-subtitle {
  font-weight: 700;
  color: #666666;
}

.spec-value, .product-tech-title {
  font-weight: 800;
  font-size: 1.5rem;
}

.spec-level {
  width: 200px; /* Set the desired width for the progress bar */
  height: 23px; /* Set the height of the progress bar */
  background: linear-gradient(to right, yellow, green, blue); /* Gradient from yellow to blue */
  position: relative;
  width: 100%;
  border-radius: 9999px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.spec-dot {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 9999px;
  background-color: black;
  left: calc(calc(100% / 10) * (var(--dot-position) - .65))
}

.spec-line {
  height: 100%;
  width: 1px;
  background-color: white;

}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

/* //?  ProductReviews.css */
.spr-container {
  padding: 24px;
  border-color: #ECECEC;
}

.spr-review, .spr-form {
  border-color: #ECECEC;
}

/* Add this CSS to create a horizontal line under the spr-header */
.spr-header {
  position: relative; /* Make sure the pseudo-element is positioned relative to this div */
}

.spr-header::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Position the pseudo-element */
  bottom: 0; /* Position it at the bottom of the spr-header */
  left: 0; /* Align it with the left edge of the spr-header */
  width: 100%; /* Make it extend the full width of the spr-header */
  border-bottom: 1px solid gray ; /* Add a dashed line with your desired style and color */
  opacity: 0.3;
}