/* .product-thumbs{
  display:flex;
  height: 300px;
  overflow: hidden;
  flex-direction: column;
} */

.product-thumbs-swiper {
  display: flex;
  justify-content: space-between;
  border-width: 2px;
  height: 460px
}